$main-color: #f9d923;
$black-color: #000000;
$white-color: #ffff;
$text-color: #383838;
$button-hover: #ffcc29;
$section-contact:rgb(208, 208, 208);


$yellow-gradient: linear-gradient(45deg, rgba(0, 0, 0, 0.952), rgba(77, 77, 18, 0.74));
$nav-gradient: linear-gradient(315deg, #fdf913 10%, #000000fd 84%);
$card-gradient: linear-gradient(315deg, #000000 0%, #414141 74%);